{% extends 'academico/index.html' %}
{% load staticfiles %}
  {% block titulo %}Matriculas{% endblock titulo %}
      {% block body %}

      <div class="container">
        <div class="row">
           <div class="col-md-9">
              <h1>Matrículas:</h1>
           </div>
           <div class="col-md-3">
              <a href="{% url 'matricula_crear' %}" class="btn btn-primary">Añadir Matrícula</a>
           </div>
        </div>
        <table class="table" id="myTable">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Inscrito</th>
              <th scope="col">Curso</th>
              <th scope="col">Fecha de Matrícula</th>
              <th>  </th>    
            </tr>
          </thead>
          <tbody>
            {% if object_list %}
            {% for Matricula in object_list %}
              <tr>
                <td scope="row" ><a href="{% url 'matricula_editar' Matricula.id %}">{{ Matricula.id }}</a></td>
                <td>{{ Matricula.inscrito }}</td>
                <td>{{ Matricula.curso }}</td>
                <td>{{ Matricula.fecha_matricula }}</td>
                <td><a class="btn btn-danger btn-xs" href="{% url 'matricula_eliminar' Matricula.id %}">Eliminar</a></td>
                </tr>
            {% endfor %}
            {% else %}
            <div class="row">
              <div class="col-md-9">
                <h3>No hay Registros de Matrículas</h1>
              </div>
            </div> 
            {% endif %}
          </tbody>
        </table>
      </div>
  {% endblock body %}